[Unit]
Description=Jumpserver Core Server
Documentation=https://github.com/jumpserver/jumpserver.git
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=forking
TimeoutStartSec=0
WorkingDirectory={{ install_dir }}/jumpserver
PIDFile={{ install_dir }}/jumpserver/tmp/jms.pid
Environment="PATH={{ install_dir }}/py3/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/root/bin"
ExecStart={{ install_dir }}/jumpserver/jms start -d
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop={{ install_dir }}/jumpserver/jms stop

[Install]
WantedBy=multi-user.target
